<%- include('./partials/header.ejs'); %>
<link rel="stylesheet" href="register.css">

<div class="container">
   <form id="register" class="form-horizontal" role="form" method="post">
      <h2>Registration</h2>
      <div class="row">
         <div class="col-sm-9 col-sm-offset-3">
            <span class="help-block"><span class="text-danger">*</span>Required fields</span><br />
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="firstName" class="control-label">First Name<span class="text-danger">*</span></label>
               <div class="">
                  <input type="text" id="firstName" name="firstName" placeholder="First Name" class="form-control" />
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="lastName" class="control-label">Last Name</label>
               <div class="">
                  <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="form-control" />
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="email" class="control-label">Email<span class="text-danger">*</span></label>
               <div class="">
                  <input type="email" id="email" name="email" placeholder="Email" class="form-control" name="email" />
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="birthDate" class="control-label">Date of Birth<span class="text-danger">*</span></label>
               <div class="">
                  <input type="date" id="birthDate" name="birthDate" class="form-control" />
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="password" class="control-label">Password<span class="text-danger">*</span></label>
               <div class="">
                  <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
               </div>
            </div>
            
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="password" class="control-label">Confirm Password<span class="text-danger">*</span></label>
               <div class="">
                  <input type="password" id="confpassword" name="confpassword" placeholder="Password" class="form-control" />
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="caste" class="control-label">Caste<span class="text-danger">*</span> </label>
               <div class="">
                  <input type="text" id="caste" name="caste" placeholder="Please write your caste" class="form-control" />
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="profession" class="control-label">Profession<span class="text-danger">*</span> </label>
               <div class="">
                  <input type="text" id="profession" name="profession" placeholder="Please write your profession" class="form-control" />
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="weight" class="control-label">Weight<span class="text-danger">*</span> </label>
               <div class="">
                  <input type="number" id="weight" name="weight" placeholder="Please write your weight in kilograms" class="form-control" />
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="Height" class="control-label">Height<span class="text-danger">*</span> </label>
               <div class="">
                  <input type="number" id="height" name="height" placeholder="Please write your height in centimetres" class="form-control" />
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="phoneNumber" class="control-label">Phone number</label>
               <div class="">
                  <input type="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="Phone number" class="form-control" />
                  <span class="help-block">Your phone number won't be disclosed anywhere </span>
               </div>
            </div>
         </div>
         <div class="col-md-6">
         <div class="form-group">
               <label for="bio" class="control-label">Bio<span class="text-danger">*</span> </label>
               <div class="">
                  <textarea id="bio" name="bio" placeholder="Please write your bio" class="form-control"></textarea>
               </div>
            </div>
         </div>
         </div>   
          <div class="row">
             <div class="col-md-6">
            <div class="form-group">
               <label class="control-label">Gender<span class="text-danger">*</span></label>
               <select name="gender" class="form-control">
               <option value="">Please select Gender</option>
               <option value="Female">Female</option>
                <option value="Male">Male</option>
               </select>
               
            </div>
         </div>
          <div class="col-md-6"></div>
      </div>
      <div class="row">
         <div class="col-md-12 text-right">
            <button type="submit" id="userRegister" class="btn btn-outline-secondary btn-lg text-right">Register</button>
            <div id="userRegisterLoader" class="btn btn-outline-secondary btn-lg text-right"><center><i class="fa fa-sync-alt fa-spin"></i></center></div>
         </div>
      </div>
   </form>
</div>



<%- include('./partials/footer'); %>